<link
  rel="shortcut icon"
  href="/assets/images/favicon.ico"
  type="image/x-icon"
/>
<meta property="og:image" content="/assets/images/og-image.png" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Juwoong's Blog" />
<meta
  property="og:description"
  content="Jot down inspirations about everything."
/>
<meta
  property="og:image"
  content="https://cc00-175-193-96-27.ngrok-free.app/assets/images/og-image.png"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="cc00-175-193-96-27.ngrok-free.app" />
<meta
  property="twitter:url"
  content="https://cc00-175-193-96-27.ngrok-free.app"
/>
<meta name="twitter:title" content="Juwoong's Blog" />
<meta
  name="twitter:description"
  content="Jot down inspirations about everything."
/>
<meta
  name="twitter:image"
  content="https://cc00-175-193-96-27.ngrok-free.app/assets/images/og-image.png"
/>
