---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 1em 1em 0 1em;
		background: #fafaf8;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: 0 auto;
	}
	nav a {
		display: inline-block;
		padding: 1em 0;
		color: var(--black);
		text-decoration: none;
	}
	@media (max-width: 720px) {
		nav {
			max-width: 100%;
		}
	}
</style>
