/**
 * Site header
 */
// .site-header {
//   border-top: 5px solid $border-color-03;
//   border-bottom: 1px solid $border-color-01;
//   min-height: $spacing-unit * 1.865;
//   line-height: $base-line-height * $base-font-size * 2.25;

//   // Positioning context for the mobile navigation icon
//   position: relative;
// }

.site-header {
  position: fixed;
  left: 40px;
  top: 0px;
  padding-top: 20px;
  width: 100%;
  height: 60px;
  overflow: auto;
  background-color: $lm-background-color;
  z-index: 2;

  @include media-query($on-medium) {
    width: 96%;
    min-width: 380px;
    height: 38px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;

    background-color: $lm-background-color;
    left: 0px;
  }
}

.site-header .wrapper {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  gap: 5rem;

  @include media-query($on-medium) {
    justify-content: space-between;
    width: 90%;
  }
}

.site-header .wrapper:last-child::after {
  display: none;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-family: "Jetbrains Mono";

  &,
  &:visited {
    color: $site-title-color;
  }

  @include media-query($on-palm) {
    padding-right: 45px;
    text-align: left;
    height: 38px;
    line-height: 38px;
    @include relative-font-size(1.2);

    background-color: $lm-background-color;
  }
}

.site-logo {
  height: 36px;

  @include media-query($on-medium) {
    height: 30px;
  }
}

.site-nav {
  top: 9px;
  right: $spacing-unit * 0.5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;

  display: flex;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $header-text-color;
    font-family: $header-font-family;
    line-height: $base-line-height;
    display: block;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: flex;
      gap: 3.125rem;
    }

    .page-link {
      // display: inline;

      padding-top: 8px;
      margin-left: auto;
    }
  }

  .splitter {
    background: #aaaaaa;
    height: 1px;

    margin: 16px 0;
  }
}

.post-content > p,
ol {
  padding-bottom: 12px;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * 0.5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * 0.5);

    &:first-child {
      padding-right: $spacing-unit * 0.5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * 0.5;
    }
  }
}

/**
 * Page content
 */
.page-content {
  margin: 80px 0;
  display: flex;
  justify-content: space-around;

  overflow-x: hidden;

  @include media-query($on-medium) {
    margin: 60px 0;
  }
}

.page-content .wrapper {
  width: 44%;
  min-width: 600px;

  @include media-query($on-medium) {
    width: 60%;
    min-width: 355px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  h3 {
    margin-bottom: 0;
  }

  @include media-query($on-medium) {
    margin-top: 0px;
  }
}

.post-meta {
  font-size: $small-font-size * 0.9;
  color: $brand-color;
  display: flex;
  gap: 0.6em;
  padding-top: 2px;
}

.meta-content {
  display: flex;
  justify-content: center;
}

.post-meta time {
  font-size: $small-font-size;
  color: $brand-color;
  display: flex;
  gap: 0.6em;
  padding-top: 2px;
  text-align: center;
}

.post-header .post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-link:link {
  color: #000000;
}

.post-link:visited {
  color: #666666;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;

  @include media-query($on-medium) {
    margin-bottom: $spacing-unit * 0.5;
  }

  margin-top: 12px;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1.15;
  text-align: center;

  @include media-query($on-medium) {
    @include relative-font-size(1.8);
  }

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $spacing-unit;
  }

  h2 {
    @include relative-font-size(1.45);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.6);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.4);
    }
  }

  h4 {
    @include relative-font-size(1.2);
  }

  h5 {
    @include relative-font-size(1);
  }
  h6 {
    @include relative-font-size(1);
  }

  p {
    line-height: 1.8rem;
  }
}

.post-content .endcard {
  text-align: right;

  margin-top: 40px;
}

.post-content .endcard .signature {
  height: 40px;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover {
        border-color: $border-color-02;
      }
    }
  }
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * 0.25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

.footer {
  font-family: "Pretendard";
  font-size: 0.875rem;
  color: #6a6a6a;
  width: 100%;
}

.footer .wrapper {
  width: 44%;
  min-width: 600px;

  @include media-query($on-medium) {
    width: 60%;
    min-width: 355px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
  }

  padding-bottom: 4.5rem;
}

.footer .divider {
  border-bottom: #d5d5d5 1px solid;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer-content a {
  text-decoration: none;
  color: inherit;
}
