@charset "utf-8";

// Define defaults for each variable.

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

@import url("https://cdn.jsdelivr.net/gh/juwoong/bookk-dynamic-subset@v1.2.0/bookk_myungjo_bold.css");
@import url("https://cdn.jsdelivr.net/gh/juwoong/bookk-dynamic-subset@v1.2.0/bookk_myungjo_light.css");

$base-font-family: "BookkMyungjo", "Pretendard Varaible", Pretendard,
  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji",
  "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono",
  "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$header-font-family: "Secular One", sans-serif;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 700;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$header-text-color: #6a6a6a;
$spacing-unit: 30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

@media screen and (max-width: $on-palm) {
}

// Import pre-styling-overrides hook and style-partials.
@import "minima/custom-variables",
  // Hook to override predefined variables.
  "minima/base",
  // Defines element resets.
  "minima/layout",
  // Defines structure and style based on CSS selectors.
  "minima/custom-styles" // Hook to override existing styles.
;
